<!DOCTYPE html>
<html lang="es" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
  <link rel=”stylesheet” href=”http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css”>
  <script src=”https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js”></script>
  <script src=”http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js”></script>
  <script src="Daliafunctions.js">
    function Options(value){
      //get the input

      let x=document.getElementById('search').value;

      alert(x);
      //process


      if (x=='Red Love'){
        window.location.href= "/Users/orlyschejter/WebstormProjects/DALIA/pic3.html";
        window.replace("/Users/orlyschejter/WebstormProjects/DALIA/pic3.html");
      }

    }
    window.onload=function(){
      document.getElementById("myaudio").play();
    }
  </script>


  <style>



    title {
      width: 100%;
      height:100%

    }
    body {
      background-image: url('PIC2.jpeg');

    }
    .description{
      text-decoration-color: white;
      text-decoration-style: wavy;

    }
    h1 {
      display: block;
      font-size: 2em;
      margin-top: 50;
      margin-bottom: 50;
      margin-left: 50;
      margin-right: 50;
      font-weight: bold;
      color: white;
      width: 50%;
      height:50%;
      text-align:center;
    }

    header * {
      display: inline;
    }
    header li {
      margin: 70px;
    }
    header li a{
      color: white;
      text-decoration-color: coral;
      scroll-padding-top: 5px;
    }


    .tab-content{
      border-left: 1px solid #ddd;
      border-right:1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding:10px;

    }
    .container {
      max-width: 1000px;

      position: relative;
      margin: auto;
    }
    p{
      margin:20px;
      color:white;
      size:20em;
    }


    .footer{
      size: 10em;
      color:white;
      margin:20px;
      text-align:center;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;            /* Footer height */
    }
    .footer{
      size: 10em;
      color:white;

      margin:20px;
      text-align:center;
      position: bottom;
      bottom: 0;
      width: 100%;
      height: 2.5rem;            /* Footer height */
    }

    a:hover{
      background: white;
      color:hotpink;
      size: 120px;
    }
    a:focus{
      background: white;
      color: hotpink;
    }
    a:active{
      border: 3px solid #0006CC;
      background: #0006CC;
      color:seashell;
    }
    .deslizar{
      width: 100%;
      max-width: 600px; !important
    margin:auto;

    }
  </style>

  <form id="form">
    <input id="input" type="search" id="query" placeholder="Search...">
    <button type="button" id="button" onclick="Options(document.getElementById('query').value);">Search</button>

  </form>

</head>
<body onload="AudioPlay">


<center><h1 onmouseover= "this.style.color = 'pink'" onmouseout= "this.style.color= 'white'"><i>DALIA ACCESORIOS</i></h1></center>

<script type="text/javascript" src="./Daliafunctions.js"></script>
<header>
  <link rel="stylesheet" href= "https://github.com/lipis/bootstrap-social/blob/gh-pages/bootstrap-social.scss">
  <nav>
    <nav class="navbar navbar-dark navbar-expand-sm bg-primary fixed-top">
      <div class="container">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="./DALIAvscode.html">Acerca de nosotros</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="./page1Dalia.html">Nuestros productos</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Rebajas</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="./Subscribe.html">Contacto</a>
          </li>
        </ul>
      </div>

    </nav>
</header>


</div>

<body>

<center><h1 onmouseover= "this.style.color = 'pink'" onmouseout= "this.style.color= 'white'"><i>Productos 100% Colombianos</i></h1></center>


<div align= center class="container" width="100%">
  <div class="deslizar">
    <img src="pic3.jpeg" style="width:100%">
    <span class="text" class="description">New York Ring </span>
  </div>

  <div class="deslizar">
    <img src="pic5.jpeg" style="width:100%">
    <span class=" text" class="description">Love Ring </span>
  </div>

  <div class="deslizar">
    <img src="pic4.jpeg" style="width:100%">
    <span class=" text" class="description">Dalia Ring </span>
  </div>




</div>
<script>
  var slide = 0;
  MostrarSlide();

  function MostrarSlide() {

    var dispositive = document.getElementsByClassName("deslizar");
    var current=0;
    for (current = 0; current < dispositive.length; current++) {
      dispositive[current].style.display = "none";
      dispositive[current].style.color ="white";
      dispositive[current].style.textEmphasis= "filled red";

    }
    slide++;
    if (slide > dispositive.length) {slide = 1}
    dispositive[slide-1].style.display = "block";

    setTimeout(MostrarSlide, 2000); // Change image every 2 seconds
  }
</script>


</body>


<br>
<br>

<audio autoplay>
  <source src="song1.mp3" id=myaudio type="audio/mpeg">
</audio>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" color=" blue"/>

<footer class="footer" id='footer' onclick="Subscribe()">
  <div>
    <span><a id= "client" href="./Subscribe.html">Suscribete</a></span>
  </div>
  <div class="text-center">
    <a class="btn btn-social-icon btn-instagram" color="blue" href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
  </div>

</footer>

</body>
</html>

<!--https://www.javatpoint.com/oprweb/test.jsp?filename=how-to-make-a-navigation-bar-in-html1   <p><audio id= "audio" style= "display:none" autoplay="true" >


